@font-face {
    font-family: 'DINEngschriftStd';
    src: url('font/DINEngschriftStd.otf') format('truetype');
}

@font-face {
    font-family: 'BrandonGrotesqueLight';
    src: url('font/brandon-grotesque-light.otf') format('truetype');
}

html,
body {
    height: 100%;
    font-family: 'BrandonGrotesqueLight', bold !important;
    font-size: 16px !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap>.container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}


/* add sorting icons to gridview sort links */

a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/
    "\e151";
}

a.desc:after {
    content: /*"\e114"*/
    "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


/* align the logout "link" (button in form) of the navbar */

.nav li>form>button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li>form>button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
    text-decoration: none;
}

.nav>li>form>button.logout:focus {
    outline: none;
}

.nav {
    font-family: 'DINEngschriftStd', bold !important;
    font-size: 18px !important;
}


/* Ajustes Personalizados */


/* Menu inverso */

.navbar {
    min-height: 95px !important;
    position: fixed;
    top: 0px;
    top: -16px !important;
}

.navbar-right {
    padding-top: 30px !important;
}

.navbar-inverse {
    background-color: #F7941E !important;
    border-color: #F7941E !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff !important;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #544f4c !important;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: transparent !important;
}


/* Moficicar botones bootstrap */

.btn {
    font-size: 20px;
    margin: 20px;
}

.btn:hover,
.btn:focus,
.btn:active {
    color: #ff9a00 !important;
    background-color: #44413f !important;
    border-color: #ff9a00 !important;
}

.btn-primary,
.btn-success {
    color: #fff !important;
    background-color: #ff9a00 !important;
    border-color: #ff9900ef !important;
}


/* Modificar enlaces */

a {
    color: #ff9900ef;
}

a:hover {
    color: #ff9900ef;
}


/* Modificar titulos */

.title {
    font-family: 'DINEngschriftStd', bold !important;
    font-size: 50px;
    color: #ff9a00;
    text-transform: uppercase;
    margin-bottom: 34px;
    font-weight: 400;
}

.subtitle {
    font-family: 'DINEngschriftStd', bold !important;
    font-size: 20px;
    color: #ff9a00;
    text-transform: uppercase;
    font-weight: 400;
}

hr {
    border: 0;
    border-bottom: 1px solid #ff9a00;
    margin-bottom: 34px;
}